<h1>MovieWyz</h1>

<H2>Welcome! Enter the name of a movie you would like to find out more about!</H2>

<%= form_tag("/movies", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("GO") %>
<% end %>
