// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav .input-field label {
    text-align: right;
    right: 1em;
}

input[type=search] {
  margin: 0;
}

.brand-logo {
  img {
    height: 56px;
    padding: 6px;
  }
}

@media only screen and (min-width: 601px) {
  .brand-logo {
    img {
      height: 64px;
      padding: 8px;
    }
  }
}